<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/style.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Mongo Web Scraper</title>
</head>

<body>
	<!-- NAVIGATION BAR SECTION =======-->
	<nav>
		<div class="nav-wrapper lime">
			<div class="container">
				Mongo Web Scraper
				<ul id="nav-mobile" class="right">
					<li>
						<a href="home">Home</a>
					</li>
					<li>
						<a href="saved_articles">Saved Articles</a>
					</li>
					<li>
						<a href="home">Scrape Article</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	{{{ body }}}

	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</body>

</html>